/.ipynb_checkpoints
/CMC_categories_data.ipynb
/custom
/data
/helloworld.py
/jupyterlab-executor.ipynb
/OpenAI.ipynb
/screen.py
/TestBacktestpy.ipynb
/training
/Untitled Folder
/yfinance.cache
/.env
/outdated_OpenAI.ipynb